In [1]:
import pandas as pd

# 读取数据
data_raw = pd.read_excel('raw_data_include_ref.xlsx')
data_raw.head()

,Index,Cathode,O,N,B,S,P,SSA,Smicro,Smeso,...,ID/IG,Electrolyte,M,Anion,CC,AML,PW,CD,Cs,Ref
0,1,N-3D-PCN,7.15,3.52,0.00,0.0,0.0,1546.1,NaN,NaN,...,1.029,2M ZnSO4,2,SO4,Carbon cloth,1.0,1.6,0.10,85.0,10.1016/j.jallcom.2023.172407.
1,2,BN-3D-PCN,8.12,3.79,3.66,0.0,0.0,1315.2,NaN,NaN,...,1.038,2M ZnSO4,2,SO4,Carbon cloth,1.0,1.6,0.10,114.0,NaN
2,3,NPC,21.55,3.29,0.00,0.0,0.0,1140.8,341.3,NaN,...,0.820,1M Zn(CF3SO3)2,1,OTf,stainless-steel mesh,2.5,1.8,0.10,90.2,10.1016/j.jallcom.2022.164536
3,4,NPC,21.55,3.29,0.00,0.0,0.0,1140.8,341.3,NaN,...,0.820,1M Zn(CF3SO3)2,1,OTf,stainless-steel mesh,2.5,1.8,0.25,86.3,NaN
4,5,NPC,21.55,3.29,0.00,0.0,0.0,1140.8,341.3,NaN,...,0.820,1M Zn(CF3SO3)2,1,OTf,stainless-steel mesh,2.5,1.8,0.50,79.9,NaN

In [2]:
# 列清理
data = data_raw.drop(["Index", "Cathode", "Smicro", "Smeso", "Vmicro", "Vmeso", "Electrolyte", "Ref"], axis=1)
data

,O,N,B,S,P,SSA,PV,RMIC,Dap,ID/IG,M,Anion,CC,AML,PW,CD,Cs
0,7.15,3.52,0.00,0.0,0.0,1546.1,0.5753,0.939857,1.488390,1.029,2,SO4,Carbon cloth,1.00,1.6,0.10,85.0
1,8.12,3.79,3.66,0.0,0.0,1315.2,0.5116,0.931392,1.555961,1.038,2,SO4,Carbon cloth,1.00,1.6,0.10,114.0
2,21.55,3.29,0.00,0.0,0.0,1140.8,0.8600,0.209302,3.015428,0.820,1,OTf,stainless-steel mesh,2.50,1.8,0.10,90.2
3,21.55,3.29,0.00,0.0,0.0,1140.8,0.8600,0.209302,3.015428,0.820,1,OTf,stainless-steel mesh,2.50,1.8,0.25,86.3
4,21.55,3.29,0.00,0.0,0.0,1140.8,0.8600,0.209302,3.015428,0.820,1,OTf,stainless-steel mesh,2.50,1.8,0.50,79.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,4.68,5.02,0.00,0.0,0.0,166.6,0.1380,0.289855,3.313325,0.830,2,SO4,freestanding,2.75,1.6,10.00,67.1
668,4.68,5.02,0.00,0.0,0.0,166.6,0.1380,0.289855,3.313325,0.830,2,SO4,freestanding,2.75,1.6,20.00,63.1
669,4.68,5.02,0.00,0.0,0.0,166.6,0.1380,0.289855,3.313325,0.830,2,SO4,freestanding,2.75,1.6,30.00,59.6
670,4.68,5.02,0.00,0.0,0.0,166.6,0.1380,0.289855,3.313325,0.830,2,SO4,freestanding,2.75,1.6,40.00,59.3
671,4.68,5.02,0.00,0.0,0.0,166.6,0.1380,0.289855,3.313325,0.830,2,SO4,freestanding,2.75,1.6,50.00,58.3

In [3]:
# 填充缺失值
data["AML"] = data["AML"].fillna(data["AML"].median())

# 数据分布统计
statistics = data.describe(include='all')
statistics

,O,N,B,S,P,SSA,PV,RMIC,Dap,ID/IG,M,Anion,CC,AML,PW,CD,Cs
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672,672,672.000000,672.000000,672.000000,672.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,9,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SO4,stainless-steel mesh,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,542,386,NaN,NaN,NaN,NaN
mean,8.876369,3.168750,0.061161,0.127946,0.144702,1746.587262,1.252238,0.422085,3.049333,1.290339,1.705357,NaN,NaN,2.188497,1.641548,10.780283,94.536434
std,4.197549,2.891125,0.286612,0.543991,0.749987,932.943276,0.707958,0.240293,1.502786,0.754396,0.629220,NaN,NaN,3.267098,0.083637,21.655839,39.815882
min,1.900000,0.000000,0.000000,0.000000,0.000000,166.600000,0.100000,0.000000,1.488390,0.700000,1.000000,NaN,NaN,1.000000,1.600000,0.050000,9.500000
25%,5.680000,1.320000,0.000000,0.000000,0.000000,972.400000,0.784000,0.209302,2.186235,0.912000,1.000000,NaN,NaN,1.000000,1.600000,0.500000,66.975000
50%,8.060000,2.610000,0.000000,0.000000,0.000000,1667.330000,1.200000,0.437788,2.531894,1.010000,2.000000,NaN,NaN,1.500000,1.600000,3.000000,91.000000
75%,11.200000,4.012500,0.000000,0.000000,0.000000,2364.885000,1.710000,0.597222,3.511536,1.130000,2.000000,NaN,NaN,2.000000,1.600000,10.000000,116.700000
max,21.550000,13.570000,3.660000,4.000000,4.700000,3553.100000,3.428000,0.954463,9.342348,4.400000,3.000000,NaN,NaN,45.000000,2.000000,200.000000,268.000000

In [4]:
# 保存一份数据
data.to_csv('1_dataset_fillna.csv', index=False)